* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  gap: 5px;
}
.right-side {
  background-color: white;
  height: 100vh;
  width: 35%;
}
.left-side {
  background-color: aqua;
  height: 100vh;
  width: 65%;
}
.user {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: white;
  /* justify-content: ; */
  padding: 10px 20px 10px 20px;
  transition: all 0.3s;
}
.user-profile {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
}
.user-profile img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.user:hover{
    background-color: #E8E8E8;
}
